In [12]:
import pandas as pd

routes = pd.read_csv("../../data/raw/20250518/routes.txt")

In [13]:
routes.head(3)

,agency_id,route_id,route_short_name,route_long_name,route_type,route_desc,route_color,route_text_color,route_sort_order
0,BKK,0050,5,NaN,3,"Pasaréti tér / Rákospalota, Kossuth utca",009EE3,FFFFFF,20
1,BKK,0070,7,NaN,3,"Albertfalva vasútállomás / Újpalota, Nyírpalot...",009EE3,FFFFFF,24
2,BKK,0075,7E,NaN,3,"Blaha Lujza tér M / Újpalota, Nyírpalota út",009EE3,FFFFFF,25

In [14]:
routes.describe()

       route_long_name  route_type  route_sort_order
count              0.0  373.000000        373.000000
mean               NaN    4.458445        187.946381
std                NaN   12.370252        107.911016
min                NaN    0.000000          0.000000
25%                NaN    3.000000         95.000000
50%                NaN    3.000000        188.000000
75%                NaN    3.000000        281.000000
max                NaN  109.000000        374.000000

In [15]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   agency_id         373 non-null    object
 1   route_id          373 non-null    object
 2   route_short_name  373 non-null    object
 3   route_long_name   0 non-null      float64
 4   route_type        373 non-null    int64
 5   route_desc        373 non-null    object
 6   route_color       373 non-null    object
 7   route_text_color  373 non-null    object
 8   route_sort_order  373 non-null    int64
dtypes: float64(1), int64(2), object(6)
memory usage: 26.4+ KB

In [16]:
routes.route_long_name.unique()
routes.route_type.unique()
#routes.route_sort_order.unique()

array([  3,   0,  11,   1,   4, 109])

In [17]:
routes[routes.route_type == 11]

,agency_id,route_id,route_short_name,route_long_name,route_type,route_desc,route_color,route_text_color,route_sort_order
286,BKK,4700,70,NaN,11,"Kossuth Lajos tér M / Erzsébet királyné útja, ...",E41F18,FFFFFF,112
287,BKK,4720,72,NaN,11,Orczy tér / Zugló vasútállomás (Hermina út),E41F18,FFFFFF,114
288,BKK,4730,73,NaN,11,Kápolna tér / Nyugati pályaudvar M,E41F18,FFFFFF,115
289,BKK,4740,74,NaN,11,Károly körút (Astoria M) / Csáktornya park,E41F18,FFFFFF,116
290,BKK,4741,74A,NaN,11,Mexikói út M / Csáktornya park,E41F18,FFFFFF,117
291,BKK,4750,75,NaN,11,Jászai Mari tér / Puskás Ferenc Stadion M,E41F18,FFFFFF,118
292,BKK,4751,75A,NaN,11,Jászai Mari tér / Puskás Ferenc Stadion M,E41F18,FFFFFF,119
293,BKK,4760,76,NaN,11,Jászai Mari tér / Keleti pályaudvar M,E41F18,FFFFFF,120
294,BKK,4770,77,NaN,11,Puskás Ferenc Stadion M / Rákosmezei tér,E41F18,FFFFFF,121
295,BKK,4780,78,NaN,11,Kossuth Lajos tér M / Keleti pályaudvar M,E41F18,FFFFFF,122
296,BKK,4790,79,NaN,11,Keleti pályaudvar M / Párkány utca,E41F18,FFFFFF,123
297,BKK,4800,80,NaN,11,Keleti pályaudvar M / Örs vezér tere M+H,E41F18,FFFFFF,124
298,BKK,4810,81,NaN,11,Mexikói út M / Örs vezér tere M+H,E41F18,FFFFFF,125
299,BKK,4820,82,NaN,11,Mexikói út M / Örs vezér tere M+H,E41F18,FFFFFF,126
300,BKK,4821,82A,NaN,11,Erzsébet királyné útja / Róna utca / Örs vezér...,E41F18,FFFFFF,127
301,BKK,4830,83,NaN,11,Népliget M / Fővám tér M,E41F18,FFFFFF,128
366,BKK,N4769,N7679,NaN,11,Keleti pályaudvar M / Keleti pályaudvar M,FF9900,FFFFFF,325
368,BKK,R4830,R83,NaN,11,Fővám tér M / Orczy tér,E41F18,FFFFFF,326

In [18]:
routes[routes.route_short_name == '52']

,agency_id,route_id,route_short_name,route_long_name,route_type,route_desc,route_color,route_text_color,route_sort_order
274,BKK,3520,52,NaN,0,"Határ út M / Pesterzsébet, Pacsirtatelep",FFD800,000000,84
372,BKK,VP52,52,NaN,3,"Nagysándor József utca / Pesterzsébet, Pacsirt...",009EE3,FFFFFF,83

In [19]:
routes[routes.route_id == '3470']

,agency_id,route_id,route_short_name,route_long_name,route_type,route_desc,route_color,route_text_color,route_sort_order
268,BKK,3470,47,NaN,0,Deák Ferenc tér M / Városház tér,FFD800,000000,77

In [20]:
summary = routes.groupby(['route_type', 'route_color']).size().reset_index(name='count')
display(summary.sort_values('count', ascending=False))

    route_type route_color  count
7            3      009EE3    254
6            3      000000     48
1            0      FFD800     39
11          11      E41F18     17
0            0      FF9900      2
15         109      ED6E86      2
3            1      4CA22F      1
4            1      E41F18      1
2            1      005CA5      1
8            3      023E84      1
5            1      FFD800      1
10           4      D0033F      1
9            3      F9AB13      1
12          11      FF9900      1
13         109      7B4400      1
14         109      8A236C      1
16         109      EE7101      1